<dl>
  <dt>Name</dt>
  <dd>{{material.focused.name}}</dd>
  <dt>Description</dt>
  <dd>{{material.focused.description}}</dd>
  <dt>Coordinates</dt>
  <dd>({{material.focused.lat}}, {{material.focused.lng}})</dd>
  <dt ng-show="material.focused.angle">Angle</dt>
  <dd ng-show="material.focused.angle">
    <canvas width="60" height="60" id="canvas" mm-compass="material.focused.iconAngle" disallow-change="true"></canvas>
    {{material.focused.iconAngle}}
  </dd>
  <dt ng-show="material.focused.fileName">Image</dt>
  <dd ng-show="material.focused.fileName">
    <img
      ng-if="material.focused.fileName"
      style="max-width: 100%; max-height: 50%;"
      ng-src="materials/{{$root.PROJECT.actual.folderName}}/{{material.focused.fileName}}">
  </dd>
  <dt>Tags</dt>
  <dd>
    <tags-input
      ng-model="material.focused.pluginTags"
      display-property="name"
      on-tag-added="$root.MATERIALS.addPossibleTag(material.focused, $tag)"
      on-tag-removed="$root.MATERIALS.removeTag(material.focused, $tag)">
        <auto-complete source="$root.TAGS.getDataFor($query)"></auto-complete>
    </tags-input>
    <select class="form-control" ng-model="selectedTag" ng-init="selectedTag = $root.TAGS.getFirstProperty($root.TAGS.data)" ng-options="tag.name for (name, tag) in $root.TAGS.data">
    </select>
    <button
      type="submit"
      class="btn btn-default"
      ng-click="$root.MATERIALS.addTag(material.focused, selectedTag)">
        Add tag
    </button>
  </dd>
</dl>
