<form role="form" ng-submit="submit()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" ng-model="$root.MATERIALS.data.selected.name" placeholder="Name" class="form-control" focus="true">
  </div>
  <div class="form-group">
    <label>Description</label>
    <!--<textarea type="text" ng-model="$root.MATERIALS.data.selected.description" placeholder="Description" class="form-control">
    </textarea>-->
  </div>
  position: ({{$root.MATERIALS.data.selected.lat}}, {{$root.MATERIALS.data.selected.lng}})
  angle: {{$root.MATERIALS.data.selected.iconAngle}}
  <div style="width: 50%;" mm-angle="$root.MATERIALS.data.selected.iconAngle"></div>
  <canvas width="60" height="60" id="canvas" mm-compass="$root.MATERIALS.data.selected.iconAngle"></canvas>
  <input type="file"
    class="btn btn-default"
    ng-file-select="$root.MATERIALS.setSelectedFile($files, '#toShowImage')"
    accept="image/*">
  <img id="toShowImage" ng-init="$root.MATERIALS.loadImage('#toShowImage')" style="max-height: 200px; max-width: 100%;" />
  <button
    type="submit"
    class="btn btn-success">
      {{action}} material
  </button>
</form>
